/*------------------------------------*\
	Page
\*------------------------------------*/

html{
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $quba-red-dark;
}

body{
	background-color: #fff;
}
