/*------------------------------------*\
	Typography
\*------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	font-family: $primary-font;
    color: $heading-color;
	font-weight: 600;
    text-rendering: optimizelegibility;
    margin: 0;
    padding: 0;
}
