/*------------------------------------*\
	Tables
\*------------------------------------*/

table{
	margin-bottom: $spacing;
}

table th, table td{
	padding: $spacing-small $spacing;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

table th{
	border-width: 2px;
}

table tr:last-child td{
	border-bottom: none;
}

table tr:nth-child(even){
	background: #eee;
}

table tbody tr:hover{
	background: #f9f9f9;
}
