a{
	color: $quba-red;
	&:hover{
		color: darken($quba-red, 20%);
	}
}

.animatedLink{
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: $quba-red-dark;
	transition: 0.3s ease-in-out;
	&:before{
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 3px;
		content: "";
		background: $quba-red-dark;
	}
	&:after{
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 0;
		height: 3px;
		content: "";
		background: $quba-red;
		transition: 0.3s ease-in-out;
	}
	&:hover, &:active, &:focus{
		text-decoration: none;
		color: $quba-red;
		&:after{
			width: 100%;
		}
	}
}
