/*------------------------------------*\
	Page
\*------------------------------------*/

html{
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $font-color;
}

body{
	background-color: $background-color;
}
