/*------------------------------------*\
	Alerts
\*------------------------------------*/

.alert{
	margin: 0 0 $spacing;
	padding: $spacing;
	-webkit-font-smoothing: antialiased;
	color: darken($primary, 60%);
	border-radius: $border-radius;
	background: $primary;
}

.alert--info{
	color: $info;
	background: lighten($info, 50%);
}

.alert--success{
	color: $success;
	background: lighten($success, 50%);
}

.alert--warning{
	color: $warning;
	background: lighten($warning, 40%);
}
