/*------------------------------------*\
	Forms
\*------------------------------------*/

input[type=text]{
	margin: $extra-small;
	padding: $extra-small/2;
	font-family: $primary-font-light;
	border: none;
	border-bottom: solid 1px $quba-red-dark;
	@include responsive(font-size, 0.7);
	@include breakpoint(m){
		font-size: $extra-small;
	}
	&:hover, &:focus{
		border-bottom-color: $quba-red;
		outline: none;
	}
	&::placeholder{
		@include responsive(font-size, 0.7);
		@include breakpoint(m){
			font-size: $extra-small;
		}
	}
}

::-webkit-input-placeholder{
	@include breakpoint(m){
		font-size: $extra-small;
	}
}

input[type=button]{
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-family: $primary-font-light;
	color: #fff;
	border: none;
	outline: none;
	background: $quba-red;
	transition: 0.2s ease-in-out;
	@include breakpoint(m){
		font-size: $extra-small;
	}
	&:hover{
		background: darken($quba-red, 20%);
	}
}
