/*------------------------------------*\
	Pagination
\*------------------------------------*/

.pagination{
	margin: $spacing 0;
	padding: 0;
}

.pagination li{
	display: inline-block;
	list-style: none;
}

.pagination li a{
	padding: $spacing-small $spacing;
	&:hover{
		text-decoration: none;
		background: #ddd;
	}
}

.pagination li.current a{
	background: #eee;
}
