.content{
	& > :first-child{
		margin-top: 0;
	}
	h1{
		color: $quba-red;
	}
	h2{
		margin-right: auto;
		color: $quba-red;
		@include responsive-font(l);
		@include responsive(margin-top, 2);
		@include responsive(margin-bottom, 0.5);
	}
	h3{
		color: $quba-red;
		@include responsive-font(m);
		@include responsive(margin-top, 1);
		@include responsive(margin-bottom, 0.5);
	}
	p{
		font-family: $primary-font-light;
		line-height: 140%;
		color: $quba-red-dark;
		@include responsive-font(s);
		@include responsive(margin-bottom, 0.8);
		a{
			color: $quba-red;
			&:hover{
				color: darken($quba-red, 15%);
			}
		}
	}
	li{
		list-style-type: disc;
		font-family: $primary-font-light;
		line-height: 120%;
		color: $quba-red-dark;
		@include responsive(font-size, 0.7);
		@include breakpoint(m){
			font-size: $extra-small;
		}
		@include responsive(margin-bottom, 0.35);
	}
	figure{
		figcaption{
			margin-top: 0;
			text-align: center;
			color: $quba-red-dark;
			@include responsive(margin-bottom, 0.8);
			a{
				color: $quba-red;
				&:hover{
					color: darken($quba-red, 15%);
				}
			}
		}
	}
	img{
		@include responsive(margin-bottom, 0.8);
	}
}
