/*------------------------------------*\
	Footer
\*------------------------------------*/

.block--footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: initial;
	color: $quba-red-dark;
	background: #fff;
	background: #eee;
	h2{
		margin: 0;
		color: $quba-red-dark;
	}
	hr{
		height: 6px;
		margin: 0;
		margin-bottom: 6vh;
		text-align: left;
		background: $quba-red-dark;
		@include responsive(width, 5);
	}
	.meta-info{
		@include responsive(font-size, 0.7);
	}
	a{
		@extend .animatedLink;
	}
	.footer-left, .footer-right{
		display: flex;
		flex-direction: column;
		& > div{
			color: $quba-red-dark;
			@include responsive(font-size, 1.1);
			@include breakpoint(s){
				font-size: $extra-small;
			}
			@include responsive(margin-bottom, 1);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.footer-right{
		text-align: right;
		.social-icons{
			@include responsive(margin-bottom, 1);
			@include responsive(font-size, 1.5);
			@include breakpoint(s){
				font-size: $small;
			}
			a:before{
				background: transparent;
			}
		}
		.footer-logos{
			margin-top: auto;
			img{
				@include responsive(max-height, 2);
				@include responsive(margin-left, 0.5);
			}
		}
	}
}
