/*------------------------------------*\
	Header
\*------------------------------------*/

header{
    position: fixed;
	z-index: 20;
	width: 100%;
	display: flex;
	align-self: flex-start;
	text-align: center;
	flex-direction: column;
	@include responsive(padding, 1.5);
    transition: 0.5s ease;
    -webkit-backface-visibility: hidden;
	.quba-logo{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			width: 10px;
			height: 10px;
			background: red;
			left: 0;
			top: 0;
		}
	}
	nav{
		display: flex;
		justify-content: center;
		margin-top: $medium;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-align: center;
			li{
				display: flex-inline;
				justify-content: center;
				flex-direction: column;
				margin: 5px auto;
				a{
					position: relative;
					@include responsive(margin-left, 0.5);
					@include responsive(margin-right, 0.5);
					font-size: $small;
					@include breakpoint(s){ font-size: $extra-small; }
					color: #fff;
					&:before{
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 100%;
						height: 3px;
						background: #fff;
						transition: 0.3s ease;
						opacity: 0;
					}
					&:hover, &:active, &:focus{
						color: #fff;
						text-decoration: none;
						&:before{
							opacity: 1;
							bottom: -3px;
						}
					}
				}
			}
		}
	}
	&.hide{
		opacity: 0;
		pointer-events: none;
	}
	&.background{
		background-color: rgba(62, 14, 26, 0.8);
	}
}
