/*------------------------------------*\
	Forms
\*------------------------------------*/

input[type=text]{
	border: none;
	padding: $extra-small/2;
	border-bottom: solid 1px $quba-red-dark;
	margin: $extra-small;
	font-family: $primary-font-light;
	@include breakpoint(m){ font-size: $extra-small; }
	&:hover, &:focus{
		outline: none;
		border-bottom-color: $quba-red;
	}
	&::placeholder{
		@include breakpoint(m){ font-size: $extra-small; }
	}
}

::-webkit-input-placeholder{
	@include breakpoint(m){ font-size: $extra-small; }
}

input[type=button]{
	background: $quba-red;
	border: none;
	outline: none;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-family: $primary-font-light;
	@include breakpoint(m){ font-size: $extra-small; }
	&:hover{
		background: darken($quba-red, 20%);
	}
}
