.case-nav{
	position: fixed;
	z-index: 10;
	display: flex;
	max-width: 80%;
	height: 80px;
	margin-top: 50vh;
	color: #fff;
	transition: 0.75s ease-in-out;
	@include breakpoint(m){
		max-width: 75%;
	}
	@include breakpoint(s){
		max-width: 95%;
	}
	&.prev{
		left: 0;
		display: flex;
		flex-direction: row-reverse;
		transform: translateY(-50%) translateX(-100%) translateX($medium);
		.case-title{
			text-align: left;
			&:before{
				content: "Previous Case";
				text-transform: uppercase;
			}
		}
		.case-image{
			margin-right: auto;
		}
	}
	&.next{
		right: 0;
		display: flex;
		flex-direction: row;
		transform: translateY(-50%) translateX(100%) translateX(-$medium);
		.case-image{
			margin-left: auto;
		}
		.case-title{
			text-align: right;
			&:before{
				content: "Next Case";
				text-transform: uppercase;
			}
		}
	}
	&-blog{
		&.prev .case-title:before{
			content: "Previous Post" !important;
		}
		&.next .case-title:before{
			content: "Next Post" !important;
		}
	}
	.case-icon{
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: $medium;
		background: #222;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: 0.75s ease-in-out;
		transform: translateX(0);
	}
	.case-title{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $extra-small;
		font-size: $extra-small + 2px;
		background: #222;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: 0.75s ease-in-out;
		&:before{
			display: block;
			margin-bottom: 5px;
			font-family: $primary-font-light;
			font-size: $extra-small - 2px;
			color: rgba(#fff, 0.7);
		}
	}
	.case-image{
		min-width: 80px;
		height: 100%;
		background-position: center center;
		background-size: cover;
	}
	&:hover{
		cursor: pointer;
		transform: translateY(-50%) translateX(0);
		&.prev{
			.case-icon{
				background: #222;
				box-shadow: none;
				transform: translateX(-100%);
			}
		}
		&.next{
			.case-icon{
				background: #222;
				box-shadow: none;
				transform: translateX(100%);
			}
		}
	}
}
