section{
	h1{
		@include responsive(font-size, 4);
		color: $quba-red;
	}
	h2{
		@include responsive(font-size, 3);
	}
	hr{
		margin: 0;
		height: 6px;
		margin-bottom: 4vh;
		@include responsive(width, 5);
	}
	p{
		@include responsive(font-size, 1.1);
	}
}

.block{
	position: relative;
	@include responsive(padding, 2.9);
	.block__centre{
		text-align: center;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 65%;
	}
	&--hp-first{
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		padding: 0;
		background-color: rgba(70, 15, 19, 0.7);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		hr{
			background: $quba-red;
			height: 6px;
			@include responsive(width, 5);
			margin-top: 2vh;
			margin-bottom: 4vh;
		}
		p{
			margin: 0;
			color: $quba-red;
			@include breakpoint(s){
				font-size: $extra-small;
			}
		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%,-50%);
			z-index: -2;
		}
	}
	&--hp-current-clients{
		background: #c82431;
		h2{
			color: $cream;
			@include responsive(margin-bottom, 1);
		}
		hr{
			background: $cream;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			li{
				margin: auto;
				a{
					img{
						@include responsive(max-height, 2.2);
						@include responsive(margin, 1);
					}
					img[src*='chatsworth']{
						@include responsive(max-height, 3);
					}
				}
			}
		}
	}
	&--hp-dexterity{
		z-index: 10;
		&:after{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			background-color: rgba(113,82,60, 0.7);
		}
		h2{
			color: $beige;
			@include responsive(margin-bottom, 7.5);
			width: 60%;
		}
		hr{
			background: $beige;
		}
		p{
			width: 60%;
			color: $beige;
		}
		@include breakpoint(s){
			h2{
				font-size: $medium;
			}
			p{
				width: 100%;
				font-size: $extra-small;
			}
		}
		.frames{
			.frame{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-size: cover;
				z-index: -1;
				opacity: 1;
			}
		}
	}
	&--hp-our-work{
		width: 100%;
		background: $nevada;
		overflow: hidden;
		z-index: 2;
		text-align: center;
		padding: 0;
		.overlay{
			position: relative;
			img{
				max-width: 100%;
				width: 100%;
				height: auto;
				vertical-align: middle;
				z-index: 10;
			}
		}
		.underlay{
			z-index: -1;
			position: fixed;
			left: 0;
			top: 100vh;
			width: 100vw;
		}
		.show{
			top: 0;
		}
		.return-scroll{
			position: relative;
		}
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			li{
				position: relative;
				width: 33.33%;
				@include breakpoint(m){
					width: 50%;
				}
				a{
					.tile-centre{
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						z-index: 2;
						h3{
							color: #fff;
							margin-bottom: 10px;
						}
						p{
							color: #fff;
							font-family: $primary-font-light;
							font-style: italic;
							font-size: $extra-small / 1.3;
						}
					}
				}
				&:hover{
					&:after{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(105, 232, 187, 0.9);
						z-index: 1;
					}
					a .tile-centre h3,
					a .tile-centre p{
						color: #333;
					}
				}
			}
		}
	}
	&--hp-our-partners-gap{
		height: 60vh;
		padding: 0;
	}
	&--hp-our-partners{
		background: $nevada;
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: -10;
		display: flex;
		align-items: center;
		justify-content: center;
		h2{
			color: $anakiwa;
			text-align: center;
			@include responsive(margin-bottom, 1);
		}
		hr{
			background: $anakiwa;
			margin: 0 auto;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li{
				margin: auto;
				width: calc(100% * (1/4) - 10px - 1px);
				text-align: center;
				margin-top: $extra-small;
				@include breakpoint(l){
					width: calc(100% * (1/3) - 10px - 1px);
				}
				@include breakpoint(m){
					width: calc(100% * (1/2) - 10px - 1px);
				}
				@include breakpoint(s){
					width: calc(100% - 10px - 1px);
				}
				img{
					@include responsive(max-height, 1.5);
				}
			}
		}
	}
	&--hp-commercial-ability{
		overflow: hidden;
		background-color: rgba(70, 15, 19, 0.7);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		h2{
			color: $light-orchid;
			@include responsive(margin-bottom, 7.5);
			width: 60%;
		}
		hr{
			background: $light-orchid;
		}
		p{
			color: $light-orchid;
			width: 60%;
		}
		@include breakpoint(s){
			h2{
				font-size: $medium;
			}
			p{
				width: 100%;
				font-size: $extra-small;
			}
		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%,-50%);
			z-index: -1;
		}
	}
	&--hp-contact{
		background: #fff;
		display: flex;
		justify-content: space-between;
		color: $quba-red-dark;
		& > div{
			display: flex;
			flex-direction: column;
		}
		h2{
			color: $quba-red-dark;
		}
		hr{
			background: $quba-red-dark;
		}
		span{
			@include responsive(font-size, 1.1);
			@include breakpoint(s){ font-size: $extra-small; }
			@include responsive(margin-bottom, 1);
			color: $quba-red-dark;
		}
		a{
			color: $quba-red-dark;
			border-bottom: 2px solid $quba-red-dark;
			&:hover{
				text-decoration: none;
			}
		}
		.footer-right{
			display: flex;
			text-align: right;
			.social-icons{
				@include responsive(margin-bottom, 1);
				@include responsive(font-size, 1.5);
				@include breakpoint(s){ font-size: $extra-small; }
				a{
					border: none;
				}
			}
			.footer-logos{
				margin-top: auto;
				img{
					@include responsive(max-height, 2);
					@include responsive(margin-left, 0.5);
				}
			}
		}
	}
}
