/*------------------------------------*\
	Header
\*------------------------------------*/

header{
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@include responsive(padding, 1.5);
	@include responsive(padding-left, 2.9);
	@include responsive(padding-right, 2.9);
    -webkit-backface-visibility: hidden;
    z-index: 20;
    transition: 0.3s ease-in-out;

    a{
    	display: inline-block;
    	svg{
    		fill: #fff;
    	}
    }

	nav{
		display: flex;
		justify-content: center;
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			li{
				display: flex-inline;
				a{
					position: relative;
					@include responsive(margin-left, 0.5);
					@include responsive(margin-right, 0.5);
					font-size: $small;
					@include breakpoint(s){ font-size: $extra-small; }
					color: #fff;
					text-decoration: none;
					&:before{
						content: "";
						position: absolute;
						bottom: -10px;
						left: 0;
						width: 100%;
						height: 3px;
						background: #fff;
						transition: 0.3s ease;
						opacity: 0;
					}
					&:hover, &:active, &:focus{
						text-decoration: none;
						&:before{
							opacity: 1;
							bottom: -3px;
						}
					}
					&.active{
						&:before{
							opacity: 1;
							bottom: -3px;
						}
					}
				}
			}
		}
	}

	&.dark{
		a{
			color: $quba-red;
			svg{
				fill: $quba-red;
			}
			&:before{
				background: $quba-red;
			}
		}
	}

	&.slim{
		background: rgba($quba-red-dark, 0.95);
		padding-top: $extra-small + 4px;
		padding-bottom: $extra-small;
		border-bottom: 1px solid rgba(#222, 0.95);
		a{
			color: #fff;
			svg{
				fill: #fff;
			}
			&:before{
				background: #fff;
			}
		}
	}
}
