/*------------------------------------*\
	Footer
\*------------------------------------*/

.block--footer{
	background: #fff;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	color: $quba-red-dark;
    //border-top: 3px solid $quba-red-dark;
    background: #eee;
	& > div{
		display: flex;
		flex-direction: column;
	}
	h2{
		color: $quba-red-dark;
		margin: 0;
		& + hr{
			//@include responsive(margin-bottom, 1);
		}
	}
	hr{
        margin: 0;
		height: 6px;
		margin-bottom: 6vh;
		@include responsive(width, 5);
		text-align: left;
		background: $quba-red-dark;
	}
	span{
		@include responsive(font-size, 1.1);
		@include breakpoint(s){ font-size: $extra-small; }
		@include responsive(margin-bottom, 1);
		color: $quba-red-dark;
	}
    .meta-info{
        @include responsive(font-size, 0.7);
    }
	a{
		@extend .animatedLink;
	}
	.footer-right{
		display: flex;
		text-align: right;
		.social-icons{
			@include responsive(margin-bottom, 1);
			@include responsive(font-size, 1.5);
			@include breakpoint(s){ font-size: $extra-small; }
			a:before{
				background: transparent;
			}
		}
		.footer-logos{
			margin-top: auto;
			img{
				@include responsive(max-height, 2);
				@include responsive(margin-left, 0.5);
			}
		}
	}
}
