section{
	h1{
		@include responsive(font-size, 4);
		color: $quba-red;
	}
	h2{
		@include responsive(font-size, 3.5);
	}
	h3{
		@include responsive(font-size, 2.5);
	}
	hr{
		margin: 0;
		height: 6px;
		margin-bottom: 6vh;
		@include responsive(width, 5);
		text-align: left;
	}
	p{
		margin: 0;
		@include responsive(font-size, 1.1);
		@include responsive(line-height, 1.35);
	}
}

.block{
	position: relative;
	@include responsive(padding, 2.9);
	.block__centre{
		text-align: center;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 65%;
		@include breakpoint(m){ width: 75%; }
		@include breakpoint(s){ width: 85%; }
	}
	&--hp-first{
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		padding: 0;
		background-color: rgba(70, 15, 19, 0.7);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(70, 15, 19, 1);
			z-index: -3;
		}
		hr{
			background: $quba-red;
			height: 6px;
			@include responsive(width, 5);
			margin-top: 2vh;
			margin-bottom: 4vh;
		}
		p{
			margin: 0;
			color: $quba-red;
			@include breakpoint(s){
				font-size: $extra-small;
			}
			width: 100%;
		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%,-50%);
			z-index: -2;
		}
	}
	&--hp-current-clients{
		background: $crimson;
		h3{
			color: $cream;
			@include responsive(margin-bottom, 1);
			text-align: center;
		}
		hr{
			background: $cream;
			text-align: center;
			margin: 0 auto;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			li{
				margin: auto;
				a{
					img{
						@include responsive(max-height, 2.2);
						@include responsive(margin, 1);
						transition: opacity 0.3s ease;
						-webkit-backface-visibility: hidden;
					}
					img[src*='chatsworth']{
						@include responsive(max-height, 3);
					}
				}
			}
			&:hover{
				a{
					img{
						opacity: 0.5;
					}
					&:hover{
						img{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&--hp-dexterity{
		z-index: 10;
		background-color: rgba(113,82,60, 1);
		&:after{
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			background-color: rgba(113,82,60, 0.8);
		}
		h2{
			color: $beige;
			@include responsive(margin-bottom, 7.5);
			width: 60%;
		}
		hr{
			background: $beige;
		}
		p{
			width: 60%;
			color: $beige;
		}
		@include breakpoint(s){
			h2{
				font-size: $medium;
			}
			p{
				width: 100%;
				font-size: $extra-small;
			}
		}
		.frames{
			.frame{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-size: cover;
				z-index: -1;
				opacity: 1;
			}
		}
	}
	&--hp-our-work{
		width: 100%;
		background: $nevada;
		overflow: hidden;
		z-index: 2;
		text-align: center;
		padding: 0;
		.overlay{
			position: relative;
			img{
				max-width: 100%;
				width: 100%;
				height: auto;
				vertical-align: middle;
				z-index: 10;
			}
		}
		.underlay{
			position: fixed;
			width: 100%;
			z-index: -1;
		}
		.show{
			top: 0;
		}
		.return-scroll{
			position: relative;
		}
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			li{
				position: relative;
				width: 33.33%;
				@include breakpoint(m){
					width: 50%;
				}
				a{
					.tile-centre{
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						z-index: 2;
						padding: $extra-small;
						a, h4{
							color: #fff;
							margin-bottom: 10px;
							@include responsive(font-size, 1);
							@include breakpoint(m){ font-size: $small/1.2; }
							font-family: $primary-font;
						}
						p{
							line-height: $extra-small;
							color: #fff;
							font-family: $primary-font-light;
							font-style: italic;
							@include responsive(font-size, 0.5);
							@include breakpoint(m){ font-size: $extra-small/1.2; }
						}
					}
				}
				&:not(.see-more){
					&:hover{
						&:after{
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgba(105, 232, 187, 0.9);
							z-index: 1;
						}
						a .tile-centre h4,
						a .tile-centre p{
							color: #333;
						}
					}
				}
			}
		}
	}
	&--hp-our-partners-gap{
		height: 60vh;
		padding: 0;
	}
	&--hp-our-partners{
		background: $nevada;
		position: fixed;
		width: 100%;
		max-width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: -10;
		display: flex;
		align-items: center;
		justify-content: center;
		h3{
			color: $anakiwa;
			text-align: center;
			margin: 0 auto;
			@include responsive(margin-bottom, 1);
		}
		hr{
			background: $anakiwa;
			margin-left: auto;
			margin-right: auto;
		}
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				width: calc(100% * (1/4) - 10px - 1px);
				text-align: center;
				margin: auto;
				@include responsive(margin-top, 0.7);
				@include responsive(margin-bottom, 0.7);
				display: inline-block;
				@include breakpoint(l){
					width: calc(100% * (1/3) - 10px - 1px);
				}
				@include breakpoint(m){
					width: calc(100% * (1/2) - 10px - 1px);
				}
				@include breakpoint(s){
					width: calc(100% - 10px - 1px);
				}
				img{
					@include responsive(max-height, 1.5);
				}
			}
		}
	}
	&--hp-commercial-ability{
		overflow: hidden;
		background-color: rgba(70, 15, 19, 0.7);
		background-size: cover;
		background-position: center center;
		background-repeat: none;
		h2{
			color: $light-orchid;
			@include responsive(margin-bottom, 7.5);
			width: 60%;
		}
		hr{
			background: $light-orchid;
		}
		p{
			color: $light-orchid;
			width: 60%;
		}
		@include breakpoint(s){
			h2{
				font-size: $medium;
			}
			p{
				width: 100%;
				font-size: $extra-small;
			}
		}
		video{
			position: absolute;
			left: 50%;
			top: 50%;
			min-width: 100%;
			min-height: 100%;
			transform: translate(-50%,-50%);
			z-index: -1;
		}
	}
	&--hp-contact{
		background: #fff;
		display: flex;
		justify-content: space-between;
		color: $quba-red-dark;
		& > div{
			display: flex;
			flex-direction: column;
		}
		h2{
			color: $quba-red-dark;
		}
		hr{
			background: $quba-red-dark;
		}
		span{
			@include responsive(font-size, 1.1);
			@include breakpoint(s){ font-size: $extra-small; }
			@include responsive(margin-bottom, 1);
			color: $quba-red-dark;
		}
		a{
			color: $quba-red-dark;
			position: relative;
			transition: 0.3s ease;
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				bottom: -3px;
				background: $quba-red-dark;
			}
			&:after{
				content: "";
				position: absolute;
				width: 0;
				height: 3px;
				left: 0;
				bottom: -3px;
				background: $quba-red;
				transition: 0.3s ease;
			}
			&:hover{
				text-decoration: none;
				color: $quba-red;
				&:after{
					width: 100%;
				}
			}
		}
		.footer-right{
			display: flex;
			text-align: right;
			.social-icons{
				@include responsive(margin-bottom, 1);
				@include responsive(font-size, 1.5);
				@include breakpoint(s){ font-size: $extra-small; }
				a:before{
					background: #fff;
				}
			}
			.footer-logos{
				margin-top: auto;
				img{
					@include responsive(max-height, 2);
					@include responsive(margin-left, 0.5);
				}
			}
		}
	}
}
