.article-tile{
	width: 100%;
	background: #fff;
	h3{
		margin-bottom: $small;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		li{
			display: flex;
			width: 33.33%;
			padding: $extra-small/2;
			transition: 0.3s ease-in-out;
			@include breakpoint(l){
				width: 50%;
			}
			@include breakpoint(m){
				width: 100%;
			}
			a{
				display: block;
				width: 100%;
				text-decoration: none;
				background: darken($quba-red, 10%);
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				transition: 0.3s ease;
				img{
					transition: 0.3s ease-in-out;

					filter: grayscale(30%);
				}
				.meta{
					display: flex;
					flex-direction: column;
					@include responsive(padding, 1);
					.date{
						text-transform: uppercase;
						color: #fff;
					}
					.category{
						text-transform: uppercase;
						color: #fff;
					}
					.title{
						margin-top: $extra-small;
						font-family: $primary-font-light;
						color: #fff;
					}
				}
				&:hover{
					background: $quba-red;
					img{
						filter: grayscale(0%);
					}
				}
			}
		}
	}
	&-case{
		ul li a .meta .title{
			margin-top: 4px;
			text-align: center;;
		}
	}
}
