/*------------------------------------*\
	Colors
\*------------------------------------*/

$background-color: #5A2226;
$font-color: #333;
$heading-color: #333;
$link-color: #0087D0;
$link-color-hover: darken($link-color, 25%);

$important: #BA4D48;
$info: #31708f;
$success: #3c763d;
$warning: #a94442;

$primary: #4FADF4;
$secondary: #D7D1C7;

// use this for deciding names: http://chir.ag/projects/name-that-color

$quba-red: #C1202B;
$quba-red-dark: #3E0E1A;
$cream: #FEEF9D;
$beige: #FD9567;
$anakiwa: #94EEF9;
$nevada: #5D6265;
$light-orchid: #DFA4D0;
$greentea: #036F73;
$ripe-orange: #F49F11;
