// for naming colours: http://chir.ag/projects/name-that-color

$background-color: rgba(90 , 34 , 38 , 1);  //#5A2226;
$font-color:       rgba(51 , 51 , 51 , 1);  //#333333;
$heading-color:    rgba(51 , 51 , 51 , 1);  //#333333;
$link-color:       rgba(0  , 135, 208, 1);  //#0087D0;
$important:        rgba(186, 77 , 72 , 1);  //#BA4D48;
$info:             rgba(49 , 112, 143, 1);  //#31708f;
$success:          rgba(60 , 118, 61 , 1);  //#3c763d;
$warning:          rgba(169, 68 , 66 , 1);  //#a94442;
$primary:          rgba(79 , 173, 244, 1);  //#4FADF4;
$secondary:        rgba(215, 209, 199, 1);  //#D7D1C7;
$greentea:         rgba(3  , 111, 115, 1);  //#036F73;
$ripe-orange:      rgba(244, 159, 17 , 1);  //#F49F11;

// Theme colours

// Quba Red
$quba-red:         rgba(193, 32 , 43 , 1);  //#C1202B;
$quba-red-dark:    rgba(62 , 14 , 26 , 1);  //#3E0E1A;

// Sun
$cream:            rgba(254, 239, 157, 1);  //#FEEF9D;
$crimson:          rgba(224, 23 , 38 , 1);  //#E01726;

// Tree
$beige:            rgba(243, 125, 73 , 1);  //#F37D49;
$millbrook:        rgba(102, 72, 54, 1);    //#664836;

// Sea
$anakiwa:          rgba(148, 238, 249, 1);  //#94EEF9;
$nevada:           rgba(93 , 98, 101, 1);   //#5D6265;

// Grass
$mint:             rgba(134 , 242, 190, 1); //#86f2BE;
$tom-thumb:        rgba(45, 68, 50, 1);     //#2d4432;

// Dusk
$light-orchid:     rgba(223, 164, 208, 1);  //#DFA4D0;
$matterhorn:       rgba(72, 58, 67, 1);     //#483A43;
