<header>
	<img class="logo fadeInTop" src="/img/logo.png"/>
	<nav>
		<ul class="fadeInTop">
			<li><a href="#">About Us</a></li>
			<li><a href="#">Work</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Technology</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>
