<header>
	<span><a href="/"><img class="quba-logo fadeInTop" src="/img/logo.png"/></a></span>
	<nav>
		<ul class="fadeInTop">
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
