<header class="{{theme}}">
	<span class="fadeInTop">
		<a href="/">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 1814.000000 468.000000" preserveAspectRatio="xMidYMid meet">
			    <g transform="translate(0.000000,468.000000) scale(0.100000,-0.100000)" stroke="none">

			        <!-- Q -->
			        <path d="M2180 4674 c-19 -2 -73 -9 -120 -15 -414 -50 -836 -231 -1170 -500
			        -122 -98 -305 -287 -396 -409 -237 -316 -389 -679 -451 -1080 -24 -160 -24
			        -500 0 -660 78 -504 291 -937 637 -1294 367 -378 818 -610 1350 -692 141 -22
			        489 -25 625 -6 265 38 475 100 706 209 l117 55 608 -141 c334 -77 609 -139
			        611 -138 1 1 -61 277 -138 612 l-139 610 54 115 c108 231 170 440 208 705 19
			        135 16 484 -5 625 -78 503 -291 937 -637 1294 -364 375 -819 610 -1340 691
			        -100 15 -445 28 -520 19z m448 -999 c272 -53 507 -179 707 -380 202 -201 326
			        -433 382 -712 24 -121 24 -385 0 -506 -56 -279 -180 -511 -382 -712 -201 -202
			        -433 -326 -712 -382 -121 -24 -385 -24 -506 0 -279 56 -511 180 -712 382 -202
			        201 -326 433 -382 712 -24 121 -24 385 0 506 56 279 180 511 382 712 228 229
			        492 357 825 399 70 9 317 -3 398 -19z"/>

			        <!-- U -->
			        <path d="M5300 3255 c0 -936 4 -1459 11 -1523 37 -339 157 -654 356 -936 76
			        -107 316 -347 423 -423 405 -287 858 -410 1331 -363 346 36 652 152 949 363
			        107 76 347 316 423 423 199 282 319 597 356 936 7 64 11 587 11 1523 l0 1425
			        -550 0 -550 0 0 -1414 c0 -1536 1 -1503 -55 -1653 -53 -140 -178 -301 -298
			        -382 -73 -50 -178 -98 -264 -123 -63 -18 -103 -22 -213 -22 -110 0 -150 4
			        -213 22 -86 25 -191 73 -264 123 -120 81 -245 242 -298 382 -56 150 -55 117
			        -55 1653 l0 1414 -550 0 -550 0 0 -1425z"/>

			        <!-- B -->
			        <path d="M9760 2340 l0 -2341 1118 4 c1112 3 1117 3 1214 25 282 64 497 182
			        695 380 496 497 495 1288 -2 1788 -49 49 -120 112 -157 138 -38 26 -68 49 -68
			        51 0 1 37 30 83 63 96 70 234 209 299 302 150 212 227 478 214 735 -15 310
			        -141 582 -370 803 -195 187 -409 301 -684 364 -96 22 -103 22 -1219 25 l-1123
			        4 0 -2341z m1915 1445 c189 -49 336 -199 374 -383 23 -110 9 -214 -42 -322
			        -38 -81 -140 -186 -217 -223 -112 -54 -142 -57 -552 -57 l-378 0 0 500 0 500
			        378 0 c307 0 389 -3 437 -15z m100 -1840 c189 -49 336 -199 374 -383 23 -110
			        9 -214 -42 -322 -38 -81 -140 -186 -217 -223 -114 -55 -138 -57 -602 -57
			        l-428 0 0 500 0 500 428 0 c351 0 438 -3 487 -15z"/>

			        <!-- A -->
			        <path d="M14303 2343 l-850 -2338 560 -3 c308 -1 562 0 565 2 2 3 73 195 158
			        428 84 233 161 442 170 466 l16 42 863 0 863 0 41 -112 c23 -62 99 -273 170
			        -468 l129 -355 562 -3 c537 -2 561 -1 558 16 -2 10 -383 1063 -848 2340 l-845
			        2322 -631 0 -631 0 -850 -2337z m1756 216 c149 -411 271 -749 271 -753 0 -3
			        -246 -6 -546 -6 -541 0 -546 0 -541 20 9 34 540 1491 542 1488 2 -2 125 -339
			        274 -749z"/>
			    </g>
			</svg>
		</a>
	</span>
	<nav>
		<ul class="fadeInTop">
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<div class="burger">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
	</nav>
</header>

<div class="menu">
	<i class="fa fa-times" aria-hidden="true"></i>
	<nav>
		<ul>
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</div>
