<header class="fullpage-nav show">
	<span><a href="/"><img class="quba-logo fadeInTop" src="/img/logo.png"/></a></span>
	<nav>
		<ul class="fadeInTop">
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<section class="block block--fullscreen block--about-first">
	<header style="position: static" class="hide">
		<span><a href="/"><img class="quba-logo fadeInTop" src="/img/logo.png"/></a></span>
		<nav>
			<ul class="fadeInTop">
				<li><a href="/about">About Us</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/tech">Technology</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div class="block__centre">
		<h1>Who we are</h1>
		<hr/>
		<p>37 experts. One mission. Working together to make digital work harder for you.</p>
		<div class="block-background" style="background-image: url('/img/sections/people.png');"></div>
	</div>
</section>

<section class="block block--about-numbers">
	<div class="block__centre">
		<p>
			We've grown from 3 to 37 ‘Qubans’.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about-mountain">
	<div class="block__centre">
		<p>Our directors met while climbing an Indonesian volcano and in 2000 Quba was born.</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/mountain.jpg'); background-position: top left"></div>
</section>

<section class="block block--about-investors">
	<div class="block__centre">
		<p>
			We’re not the only ones who think Quba’s a great place to work – we’re ‘Investors In People’ qualified since 2005.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about-building">
	<div class="block__centre">
		<p>You’ll find us in a renovated schoolhouse in the centre of Sheffield</p>
		<a class="btn" id="take-a-tour">Take a tour</a>
	</div>
	<div id="youtubePlayer" class="youtubePlayer"></div>
	<div class="closePlayer" id="closePlayer"><i class="fa fa-times"></i></div>
	<div class="block-background" style="background-image: url('/img/sections/building.jpg');"></div>
</section>

<section class="block block--about-decoded">
	<div class="block__centre">
		<p>
			We send non-technical staff on training days at <a href="#">Decoded</a> to boost their technical knowhow and enable greater communication.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about-dog">
	<div class="block__centre">
		<p>Friday is bring your dog to work day. Woof!</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/dog.jpg');"></div>
</section>

<section class="block block--about-certifications">
	<div class="block__centre">
		<p>
			We added 15 developer certifications and three project management qualifications to our team in 2015.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about-working">
	<div class="block__centre">
		<p>We’re available 24/7, every day of the year, to support our clients.</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/working.jpg');"></div>
</section>

<section class="block block--about-thing">
	<div class="block__centre">
		<p>
			I really think some text should go here so all image sections are separated by solid-colour sections
		</p>
	</div>
</section>

<section class="block block--about-values">
	<h2>Our values</h2>
	<ul>
		<li>
			<h3>Collaboration</h3>
			<p>
				We work closely together and with our clients. It helps us to create effective, lasting partnerships – and great work.
			</p>
		</li>
		<li>
			<h3>Knowledge</h3>
			<p>
				By continuously investing in training we ensure we are always right up to date with the latest thinking and insights in the fast-moving digital world.
			</p>
		</li>
		<li>
			<h3>Ambition</h3>
			<p>
				We’re driven to take that extra step, every time. Great work and great results come from believing that we can always make the best even better.
			</p>
		</li>
		<li>
			<h3>Questioning</h3>
			<p>
				We’re an inquisitive bunch. We ask. We research. We challenge. It’s how we get to understand every last detail and can go beyond expectations.
			</p>
		</li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/door.jpg');"></div>
</section>

{{> footer}}
