{{> header}}

<section>
	<h1>Who we are</h1>
	<p>37 experts. One mission. Working together to make digital work harder for you.</p>
</section>

<section>
	<p>Our directors met while climbing an Indonesian volcano and in 2000 Quba was born.</p>
</section>

<section>
	<p>
		We've grown to 37 'Qubans'... 12 Developers, 10 Account &amp; Project staff, 6 Analysts &amp; Testers, 4 Online Marketers, 3 Design &amp; UX,  2 Directors.
	</p>
</section>

<section>
	<p>You’ll find us in a renovated schoolhouse in the centre of Sheffield – take a tour.</p>
</section>

<section>
	<p>
		We’re not the only ones who think Quba’s a great place to work – we’re ‘Investors In People’ qualified since 2005.
	</p>
</section>

<section>
	<p>Friday is bring your dog to work day. Woof!</p>
</section>

<section>
	<p>
		We send non-technical staff on training days at Decoded to boost their technical knowhow and enable greater communication.
	</p>
</section>

<section>
	<p>
		We added 15 developer certifications and three project management qualifications to our team in 2015.
	</p>
</section>

<section>
	<p>We’re available 24/7, every day of the year, to support our clients.</p>
</section>

<section>
	<h4>Our values</h4>
	<ul>
		<li>
			<h5>Collaboration</h5>
			<p>
				We work closely together and with our clients. It helps us to create effective, lasting partnerships – and great work.
			</p>
		</li>
		<li>
			<h5>Knowledge</h5>
			<p>
				By continuously investing in training we ensure we are always right up to date with the latest thinking and insights in the fast-moving digital world.
			</p>
		</li>
		<li>
			<h5>Ambition</h5>
			<p>
				We’re driven to take that extra step, every time. Great work and great results come from believing that we can always make the best even better.
			</p>
		</li>
		<li>
			<h5>Questioning</h5>
			<p>
				We’re an inquisitive bunch. We ask. We research. We challenge. It’s how we get to understand every last detail and can go beyond expectations.
			</p>
		</li>
	</ul>
</section>

{{> footer}}
