{{> header}}

<section class="block block--fullscreen block--about-first colour--tree">
	<div class="block__centre">
		<h1 class="fadeInLeft">Who we are</h1>
		<hr class="fadeInLeft" style="animation-delay: 0.7s;"/>
		<p class="fadeInLeft" style="animation-delay: 0.9s;">
			37 experts. One mission. Working together to make digital work harder for you.
		</p>
		<div class="block-background" style="background-image: url('/img/sections/people.png');"></div>
	</div>
</section>

<section class="block block--about colour--tree">
	<div class="block__centre">
		<p class="hideUntilScroll">
			We've grown from 3 to 37 ‘Qubans’.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about colour--white">
	<div class="block__centre">
		<p class="hideUntilScroll">
			Our directors met while climbing an Indonesian volcano and in 2000 Quba was born.
		</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/mountain.jpg'); background-position: top left"></div>
</section>

<section class="block block--about colour--dusk">
	<div class="block__centre">
		<p class="hideUntilScroll">
			We’re not the only ones who think Quba’s a great place to work – we’re ‘Investors In People’ qualified since 2005.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about-building colour--white">
	<div class="block__centre">
		<p class="hideUntilScroll">
			You’ll find us in a renovated schoolhouse in the centre of Sheffield
		</p>
		<a class="btn hideUntilScroll" id="take-a-tour" style="margin-top:20px">Take a tour</a>
	</div>
	<div id="youtubePlayer" class="youtubePlayer"></div>
	<div class="closePlayer" id="closePlayer"><i class="fa fa-times"></i></div>
	<div class="block-background" style="background-image: url('/img/sections/building.jpg');"></div>
</section>

<section class="block block--about colour--grass">
	<div class="block__centre">
		<p class="hideUntilScroll">
			We send non-technical staff on training days at <a href="#">Decoded</a> to boost their technical knowhow and enable greater communication.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about colour--white">
	<div class="block__centre">
		<p class="hideUntilScroll">Friday is bring your dog to work day. Woof!</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/dog.jpg');"></div>
</section>

<section class="block block--about colour--sea">
	<div class="block__centre">
		<p class="hideUntilScroll">
			We added 15 developer certifications and three project management qualifications to our team in 2015.
		</p>
	</div>
</section>

<section class="block block--fullscreen block--about colour--white">
	<div class="block__centre">
		<p class="hideUntilScroll">
			We’re available 24/7, every day of the year, to support our clients.
		</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/working.jpg');"></div>
</section>

<section class="block block--about colour--quba-red">
	<div class="block__centre">
		<p class="hideUntilScroll">
			I really think some text should go here so all image sections are separated by solid-colour sections
		</p>
	</div>
</section>

<section class="block block--about-values">
	<h2class="hideUntilScroll" >Our values</h2>
	<ul>
		<li class="hideUntilScroll">
			<h3>Collaboration</h3>
			<p>
				We work closely together and with our clients. It helps us to create effective, lasting partnerships – and great work.
			</p>
		</li>
		<li class="hideUntilScroll">
			<h3>Knowledge</h3>
			<p>
				By continuously investing in training we ensure we are always right up to date with the latest thinking and insights in the fast-moving digital world.
			</p>
		</li>
		<li class="hideUntilScroll">
			<h3>Ambition</h3>
			<p>
				We’re driven to take that extra step, every time. Great work and great results come from believing that we can always make the best even better.
			</p>
		</li>
		<li class="hideUntilScroll">
			<h3>Questioning</h3>
			<p>
				We’re an inquisitive bunch. We ask. We research. We challenge. It’s how we get to understand every last detail and can go beyond expectations.
			</p>
		</li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/door.jpg');"></div>
</section>

{{> footer}}
