{{> header theme="dark"}}

<section class="block block--blog-overview">
	<h1>Blog</h1>

	<div class="filters">
		<ul>
			<li><a href="#" class="active">All</a></li>
			<li><a href="#">CRO</a></li>
			<li><a href="#">Development</a></li>
			<li><a href="#">Digital Marketing</a></li>
			<li><a href="#">In The News</a></li>
			<li><a href="#">Platforms</a></li>
			<li><a href="#">Strategy</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">UX Design</a></li>
		</ul>
	</div>

	<div class="posts">
		<ul>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/blog/drone.jpg"/>
					<div class="meta">
						<span class="date">07 April</span>
						<h5 class="title">Webinar: Content marketing for SEO. Are you doing it right?</h5>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>

{{> footer}}
