{{> header}}

<article class="colour--dusk">
	<div class="case-nav prev">
		<div class="case-icon">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</div>
		<div class="case-title">Content that gets coverage: How a PR mind-set can help you achieve inbound links</div>
		<div class="case-image" style="background-image: url('/img/tiles/toysrus.jpg');"></div>
	</div>
	<div class="case-nav next">
		<div class="case-icon">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
		<div class="case-title">Content that gets coverage: How a PR mind-set can help you achieve inbound links</div>
		<div class="case-image" style="background-image: url('/img/tiles/national.jpg');"></div>
	</div>

	<section class="block block--casestudy block--casestudy-first">
		<div class="block__centre">
			<h1>Stowe School &amp; House</h1>
			<hr/>
			<p>
				Stowe School and House are two businesses based in a Georgian stately home in Buckinghamshire. The primary business is the School, established in 1922.
			</p>
		</div>
		<div class="block-background" style="background-image: url('/img/case-studies/stowe-main.png');"></div>
	</section>

	<section class="block block--casestudy block--casestudy-content">
		<h2>Setting the scene</h2>
		<p>
			A key objective was to balance the needs of two distinct areas of Stowe: the main school and the house and gardens which as part of the national trust conduct regular tours. Each of these had very different business objectives and associated user requirements.
		</p>
		<p>
			The house is designed around an e-Commerce solution that allows users to buy tickets for tours of the house, and to individual events scheduled throughout the year. The School also has an Alumni organisation (called Old Stoics) which is in itself a separate business unit.
		</p>
		<p>
			It was essential to hit a deadline driven by the opening of a new visitor centre at Stowe House, so the alumni project and an online application process for parents were moved into a backlog of work to be delivered as a phase two.
		</p>
	</section>

	<section class="block block--casestudy block--casestudy-image">
		<img src="/img/case-studies/stowe-screens.png"/>
	</section>

	<section class="block block--casestudy block--casestudy-content">
		<h2>Our Approach</h2>
		<ul>
			<li>
				We conducted a series of detailed scoping workshops both onsite at Stowe and at Quba HQ from which a detailed project specification and design templates were created.
			</li>
			<li>
				The Kentico web content platform was used for its ecommerce capability. The site integrates with PayPal and four other merchant accounts.
			</li>
			<li>
				Custom code was required within Kentico, for example to enable calendar management allowing events to be published in the right calendars for the house and/or school.
			</li>
			<li>
				Masonry plugin allows intelligent flow and layout of a mix of portrait and landscape images and resizes them automatically.
			</li>
		</ul>
	</section>

	<section class="block block--casestudy block--casestudy-image">
		<img src="/img/case-studies/stowe-screens_3.png"/>
	</section>

	<section class="block block--casestudy block--casestudy-content">
		<h2>Outcomes</h2>
		<ul>
			<li>Immediate increase in key web metrics</li>
			<li>Positive feedback from the project team and wider school stakeholders</li>
			<li>Generated interest from other independent schools around the country</li>
		</ul>
	</section>

	<section class="block block--casestudy block--casestudy-testimony">
		<blockquote>
			Working with the Quba team has been a pleasure; together we have created a clear vision for our site. They were able to understand our complex requirements. Quba have worked incredibly well with the team here and were always available with advice, reassurance and a good sense of humour! We are very pleased.
			<footer>
				<span>Tori Roddy</span>
				<span>Director of Marketing &amp; Admissions</span>
			</footer>
		</blockquote>
	</section>
</article>

{{> footer}}
