<section class="block--hp-first">
	<header>
		<img class="logo" src="/img/logo.png"/>
		<nav>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Work</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Technology</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<div class="block__centre">
		<h1>This is digital agility.</h1>
		<hr/>
		<p>
			A progressive web technology agency, Quba is at the forefront of an ever-evolving digital landscape. We develop and implement. We customise and integrate. We predict and react.
		</p>
		<video autoplay loop>
			<source src="/video/hp-first-section.mp4" type="video/mp4"/>
		</video>
	</div>
</section>

<section class="block block--hp-current-clients">
	<h2>Our current clients.</h2>
	<hr/>
	<ul>
		<li>
			<a href="#">
				<img alt="London Luton Airport" src="/img/logos/logo-lla.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="PayPoint" src="/img/logos/logo-paypoint.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Chatsworth" src="/img/logos/logo-chatsworth.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="ToysRus" src="/img/logos/logo-toysrus.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Priory" src="/img/logos/logo-priory.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Ideal Standard" src="/img/logos/logo-ideal.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Irwin mitchell solicitors" src="/img/logos/logo-irwinmitchell.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Stowe" src="/img/logos/logo-stowe.png">
			</a>
		</li>
	</ul>
</section>

<section class="block block--hp-dexterity">
	<h2>Technological dexterity.</h2>
	<hr/>
	<p>
		We weave together technologies and break down barriers. So your organisation runs tighter with digital experiences that surprise and delight your customers.
	</p>
	<ul id="frames" class="frames">
	</ul>
</section>

<section class="hp-our-work">
	<div class="overlay">
		<img src="/img/work_overlay.png"/>
	</div>
	<div class="underlay">
		<ul>
			<li>
				<a href="#">
					<img src="/img/tiles/doordeals.png"/>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/ideal.png"/>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/national.png"/>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/stowe.png"/>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/texthelp.png"/>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/toysrus.png"/>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="block block--hp-our-partners">
	<h2>Our partners</h2>
	<hr/>
	<ul>
		<li><img src="/img/logos/logo-sitecore.png"/></li>
		<li><img src="/img/logos/logo-sitefinity.png"/></li>
		<li><img src="/img/logos/logo-google.png"/></li>
		<li><img src="/img/logos/logo-umbraco.png"/></li>
		<li><img src="/img/logos/logo-kentico.png"/></li>
		<li><img src="/img/logos/logo-rackspace.png"/></li>
		<li><img src="/img/logos/logo-microsoft.png"/></li>
		<li><img src="/img/logos/logo-optimizely.png"/></li>
	</ul>
</section>

<section class="block block--hp-commercial-ability">
	<div>
		<h2>Commercial Ability</h2>
		<hr/>
		<p>
			Digital experts. Business brains. Our search and content marketing specialists create campaigns built on data and customer insights. So you're first to mind when they come to purchase.
		</p>
		<video autoplay loop>
			<source src="/video/hp-second-section.mp4" type="video/mp4"/>
		</video>
	</div>
</section>

<section class="block block--hp-contact">
	<div class="footer-left">
		<h2>Get in touch.</h2>
		<hr/>
		<span><a href="#">Contact us</a></span>
		<span><a href="#">Terms &amp; conditions</a></span>
		<div>&copy; 2000 - 2016 Quba | Reg No: 4038459</div>
	</div>
	<div class="footer-right">
		<div class="social-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
		<span class="phone">0114 279 7779</span>
		<span><a href="#" class="email">hello@quba.co.uk</a></span>
		<div class="footer-logos">
			<img src="/img/logos/investors-in-people.png"/>
			<img src="/img/logos/iso-9001.png"/>
		</div>
	</div>
</section>
