<section class="block block--hp-first">
	{{> header}}
	<div class="block__centre">
		<h1 class="fadeInLeft">This is digital agility.</h1>
		<hr class="fadeInLeft" style="animation-delay: 0.7s;"/>
		<p class="fadeInLeft" style="animation-delay: 0.9s;">
			We skilfully blend user experience, design and world class technology to produce websites and applications that transform businesses.
		</p>
		<video id="agility-video" autoplay loop>
			<source type="video/mp4"/>
		</video>
	</div>
</section>

<section class="block block--hp-current-clients">
	<h3 class="hideUntilScroll">Our current clients.</h3>
	<hr class="hideUntilScroll"/>
	<ul class="hideUntilScroll">
		<li>
			<a href="#">
				<img alt="London Luton Airport" src="/img/logos/logo-lla.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="PayPoint" src="/img/logos/logo-paypoint.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Chatsworth" src="/img/logos/logo-chatsworth.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="ToysRus" src="/img/logos/logo-toysrus.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Priory" src="/img/logos/logo-priory.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Ideal Standard" src="/img/logos/logo-ideal.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Irwin mitchell solicitors" src="/img/logos/logo-irwinmitchell.png">
			</a>
		</li>
		<li>
			<a href="#">
				<img alt="Stowe" src="/img/logos/logo-stowe.png">
			</a>
		</li>
	</ul>
</section>

<section class="block block--hp-dexterity">
	<h2 class="hideUntilScroll">Technological dexterity.</h2>
	<hr class="hideUntilScroll"/>
	<p class="hideUntilScroll">
		We weave together technologies and break down barriers. So your organisation runs tighter with digital experiences that surprise and delight your customers.
	</p>
	<ul id="frames" class="frames">
	</ul>
</section>

<section class="block block--hp-our-work">
	<div class="overlay">
		<img src="/img/work_overlay.png"/>
	</div>
	<div class="underlay">
		<ul>
			<li>
				<a href="#">
					<img src="/img/tiles/doordeals.jpg"/>
					<div class="tile-centre">
						<h4>Doordeals</h4>
						<p>Kentico eCommerce, SEO, PPC</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/ideal.jpg"/>
					<div class="tile-centre">
						<h4>Ideal Standard</h4>
						<p>Online Catelogue, Project Specification Tool</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/national.jpg"/>
					<div class="tile-centre">
						<h4>National Numbers</h4>
						<p>Content Marketing, Link Building</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/toysrus.jpg"/>
					<div class="tile-centre">
						<h4>Toys R Us</h4>
						<p>Entertainment Portal</p>
					</div>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/img/tiles/texthelp.jpg"/>
					<div class="tile-centre">
						<h4>Texthelp</h4>
						<p>Kentico, CRM Integration</p>
					</div>
				</a>
			</li>
			<li class="see-more">
				<a href="#">
					<img src="/img/tiles/seemore.jpg"/>
					<div class="tile-centre">
						<h4 class="btn">See more</h4>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="block block--hp-our-partners-gap">
</section>

<section class="block block--hp-our-partners">
	<div>
		<h3>Our partners</h3>
		<hr/>
		<ul>
			<li><img src="/img/logos/logo-sitecore.png"/></li>
			<li><img src="/img/logos/logo-sitefinity.png"/></li>
			<li><img src="/img/logos/logo-google.png"/></li>
			<li><img src="/img/logos/logo-umbraco.png"/></li>
			<li><img src="/img/logos/logo-kentico.png"/></li>
			<li><img src="/img/logos/logo-rackspace.png"/></li>
			<li><img src="/img/logos/logo-microsoft.png"/></li>
			<li><img src="/img/logos/logo-optimizely.png"/></li>
		</ul>
	</div>
</section>

<section class="block block--hp-commercial-ability">
	<div>
		<h2 class="hideUntilScroll">Commercial Ability</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			Digital experts. Business brains. Our search and content marketing specialists create campaigns built on data and customer insights. So you're first to mind when they come to purchase.
		</p>
		<video id="commercial-video" autoplay loop>
			<source type="video/mp4"/>
		</video>
	</div>
</section>

{{> footer}}
