{{> header}}

<section class="block block--fullscreen colour--white">
	<div class="block__centre">
		<h1>We support over 30 live Sitefinity installations</h1>
		<hr/>
		<p>If you need help with Sitefinity you are in the right place</p>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/sitefinity-devs.jpg')"></div>
</section>

<section class="block block--landing block--landing-clients">
	<div class="block__centre">
		<p>Our Microsoft Certified team build and support complex web projects for some of the biggest Sitefinity customers.</p>
		<ul class="logos">
			<li><img src="/img/logos/etoa.png"/></li>
			<li><img src="/img/logos/gazprom.png"/></li>
			<li><img src="/img/logos/priory.png"/></li>
			<li><img src="/img/logos/kodak.png"/></li>
		</ul>
	</div>
</section>

<section class="block block--landing block--landing-features colour--white">
	<h3>Sitefinity Services</h3>
	<ul>
		<li>
			Our certified Sitefinity developers can help you upgrade to the latest version from Sitefinity 4.0 upward
		</li>
		<li>
			Quba's team of certified Microsoft developers are specialists in integrating with other platforms
		</li>
		<li>
			As platinum partners we are fully capable of building customised modules using the Sitefinity builder
		</li>
		<li>
			We can support clients all over the world with our 24/7 service and our dedicated Rackspace servers
		</li>
		<li>
			Stuck in a Sitefinity project? We can help you by completing an independent review
		</li>
		<li>
			Got a great website with no traffic? We are the only SEO approved Sitefinity agency in the UK
		</li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/laptop.jpg')"></div>
</section>

<section class="block block--landing block--landing-content">
	<h2>Tailored Sitefinity support</h2>
	<p>
		As part of our Quba Care service we support a number of Sitefinity clients who have had websites built by other agency partners. Our 12 strong developer team work on Sitefinity projects every day and we have significant in-house knowledge on how to optimise both speed and SEO performance. If you would like to talk to someone about becoming a Quba Care customer call Jon Eaton on 0114 279 2750.
	</p>
</section>

<section class="block block--landing block--testimony colour--grass">
	<blockquote>
		"Working with Quba has been a very positive experience. Their knowledge of Sitefinity allowed them to turn our project around quickly which really helped us to get our project back on track."
		<footer>
			<div>Eric Schradi</div>
			<div>Lead Web Developer, FARO</div>
		</footer>
	</blockquote>
</section>

<section class="block block--landing block--landing-form">
	<p>
		To talk to us about a new Sitefinity project or your existing website get in touch...
	</p>
	<div class="field-grid">
		<input type="text" placeholder="Name"/>
		<input type="text" placeholder="Company"/>
		<input type="text" placeholder="Job Title"/>
		<input type="text" placeholder="Email"/>
	</div>
	<textarea placeholder="Comments"></textarea>
	<input type="button" value="Send details"/>
</section>

<section class="block block--landing block--cases colour--quba-red">
	<h3>Some of our other projects</h3>
	<ul class="work">
		<li>
			<a href="#">
				<img src="/img/tiles/national.jpg"/>
				<div class="tile-centre">
					<h4>National Numbers</h4>
					<p>Content Marketing, Link Building</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/img/tiles/toysrus.jpg"/>
				<div class="tile-centre">
					<h4>Toys R Us</h4>
					<p>Entertainment Portal</p>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/img/tiles/texthelp.jpg"/>
				<div class="tile-centre">
					<h4>Texthelp</h4>
					<p>Kentico, CRM Integration</p>
				</div>
			</a>
		</li>
	</ul>
</section>

{{> footer}}
