{{> header}}

<section class="block block--fullscreen block--services block--services-first colour--white">
	<div class="block__centre">
		<h1 class="fadeInLeft">Services</h1>
		<hr class="fadeInLeft" style="animation-delay: 0.7s;"/>
		<p class="fadeInLeft" style="animation-delay: 0.9s;">
			One specific discipline or the full digital marketing mix, we can tailor our services to your business objectives.
		</p>
		<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/ladsladslads.jpg');"></div>
	</div>
</section>

<section class="block block--services block--services-ux colour--sea">
	<h2 class="hideUntilScroll">UX Design</h2>
	<hr class="hideUntilScroll"/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p class="hideUntilScroll">
				Great UX puts customers first. So it’s built in to everything that we do.
			</p>
			<a href="#" class="btn hideUntilScroll">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li class="hideUntilScroll">User behavior research</li>
				<li class="hideUntilScroll">Persona generation</li>
				<li class="hideUntilScroll">User journey planning</li>
				<li class="hideUntilScroll">Clickable prototyping</li>
				<li class="hideUntilScroll">Content audit</li>
				<li class="hideUntilScroll">Online branding &amp; pattern libraries</li>
				<li class="hideUntilScroll">Front end build</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/development.jpg')"></div>
</section>

<section class="block block--services block--services-ux colour--tree">
	<h2 class="hideUntilScroll">Development</h2>
	<hr class="hideUntilScroll"/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p class="hideUntilScroll">
				We create hard-working web systems that put you in control. Fully integrated, and using the very latest tech.
			</p>
			<a href="#" class="btn hideUntilScroll">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li class="hideUntilScroll">Technical planning &amp; project consultancy</li>
				<li class="hideUntilScroll">Code audits</li>
				<li class="hideUntilScroll">Platform analysis / identification</li>
				<li class="hideUntilScroll">CMS implementation</li>
				<li class="hideUntilScroll">Platform integration</li>
				<li class="hideUntilScroll">Automated testing</li>
				<li class="hideUntilScroll">24/7 Technical support</li>
				<li class="hideUntilScroll">Advanced performance monitoring</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/development.jpg')"></div>
</section>

<section class="block block--services block--services-ux colour--grass">
	<h2 class="hideUntilScroll">Digital Marketing</h2>
	<hr class="hideUntilScroll"/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p class="hideUntilScroll">
				We stay ahead. We measure results. We get brands noticed. So you reach, engage and convert more customers.
			</p>
			<a href="#" class="btn hideUntilScroll">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li class="hideUntilScroll">Technical SEO</li>
				<li class="hideUntilScroll">Keyword research</li>
				<li class="hideUntilScroll">Google penalty auditing</li>
				<li class="hideUntilScroll">Pay per click (PPC)</li>
				<li class="hideUntilScroll">Affiliates &amp; retargeting</li>
				<li class="hideUntilScroll">Content marketing</li>
				<li class="hideUntilScroll">Digital PR</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/development.jpg')"></div>
</section>

<section class="block block--services block--services-ux colour--dusk">
	<h2 class="hideUntilScroll">Conversion Optimisation</h2>
	<hr class="hideUntilScroll"/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p class="hideUntilScroll">
				We unlock your digital potential. So you reap the rewards of an optimised user experience and online presence.
			</p>
			<a href="#" class="btn hideUntilScroll">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li class="hideUntilScroll">Online questionnaires and reviews</li>
				<li class="hideUntilScroll">Live journey tracking</li>
				<li class="hideUntilScroll">Conversion optimisation</li>
				<li class="hideUntilScroll">Marketing automation</li>
				<li class="hideUntilScroll">Email campaigns</li>
				<li class="hideUntilScroll">Customer data enrichment &amp; optimisation</li>
				<li class="hideUntilScroll">Web personalisation</li>
				<li class="hideUntilScroll">Advanced Google Analytics reporting</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/development.jpg')"></div>
</section>

<section class="block block--services block--services-ux colour--sun">
	<h2 class="hideUntilScroll">Support</h2>
	<hr class="hideUntilScroll"/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p class="hideUntilScroll">
				We build trust too. You can rely on our support team always keeping your system secure, reliable and ahead of the competition.
			</p>
			<a href="#" class="btn hideUntilScroll">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li class="hideUntilScroll">Retained support and access to digital specialists</li>
				<li class="hideUntilScroll">Planning and strategic services</li>
				<li class="hideUntilScroll">Quarterly review meetings</li>
				<li class="hideUntilScroll">System error reporting</li>
				<li class="hideUntilScroll">Google Analytics Dashboard</li>
				<li class="hideUntilScroll">24/7 support</li>
				<li class="hideUntilScroll">Hosting services</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/development.jpg')"></div>
</section>

{{> footer}}
