<header class="fullpage-nav show">
	<span><a href="/"><img class="quba-logo fadeInTop" src="/img/misc/logo.png"/></a></span>
	<nav>
		<ul class="fadeInTop">
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<section class="block block--fullscreen block--services block--services-first">
	<header style="position: static" class="hide">
		<span><a href="/"><img class="quba-logo fadeInTop" src="/img/misc/logo.png"/></a></span>
		<nav>
			<ul class="fadeInTop">
				<li><a href="/about">About Us</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/tech">Technology</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div class="block__centre">
		<h1>Services</h1>
		<hr/>
		<p>One specific discipline or the full digital marketing mix, we can tailor our services to your business objectives.</p>
		<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/people.png');"></div>
	</div>
</section>

<section class="block block--services block--services-ux colour--white">
	<h2>UX Design</h2>
	<hr/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p>Great UX puts customers first. So it’s built in to everything that we do.</p>
			<a href="#">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li>User behavior research</li>
				<li>Persona generation</li>
				<li>User journey planning</li>
				<li>Clickable prototyping</li>
				<li>Content audit</li>
				<li>Online branding &amp; pattern libraries</li>
				<li>Front end build</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/mountain.jpg')"></div>
</section>

<section class="block block--services block--services-ux colour--white">
	<h2>UX Design</h2>
	<hr/>
	<div class="row">
		<div class="col col-12 sm-col-8">
			<p>Great UX puts customers first. So it’s built in to everything that we do.</p>
			<a href="#">View case studies</a>
		</div>
		<div class="col col-12 sm-col-4">
			<ul>
				<li>User behavior research</li>
				<li>Persona generation</li>
				<li>User journey planning</li>
				<li>Clickable prototyping</li>
				<li>Content audit</li>
				<li>Online branding &amp; pattern libraries</li>
				<li>Front end build</li>
			</ul>
		</div>
	</div>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/sofa-meeting.jpg')"></div>
</section>

{{> footer}}
