{{> header}}

<section class="block block--fullscreen block--tech block--tech-first colour--sea">
	<div class="block__centre">
		<h1>Technology</h1>
		<hr/>
		<p>
			Quba is a business that lives and breathes Enterprise software. We help clients to extract value from our technology partners, because we really know them.
		</p>
		<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/tech.jpg');"></div>
	</div>
</section>

<section class="block block--tech block--tech-content-management colour--tree">
	<div class="col col-6">
		<h2>Content Management</h2>
		<hr/>
		<p>
			Easy to use and powerful CMS platforms are the bedrock of what we do. We empower our clients to have personalised and meaningful dialogue with all customer groups.
		</p>
	</div>
	<ul class="tech-logos">
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/crane.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--grass">
	<div class="col col-6">
		<h2>CRM / CRO</h2>
		<hr/>
		<p>
			High performance conversion technology has helped many of our customers to grow online revenue and leads quickly.
		</p>
	</div>
	<ul class="tech-logos">
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/pineapple.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--dusk">
	<div class="col col-6">
		<h2>Integrated Payment</h2>
		<hr/>
		<p>
			We work with a small number of flexible and secure payment providers that can handle large numbers of transactions.
		</p>
	</div>
	<ul class="tech-logos">
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/bank.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--sea">
	<div class="col col-6">
		<h2>ERP / SAP</h2>
		<hr/>
		<p>
			Technologies that support order fulfilment and business processes drive efficiency and profitability.
		</p>
	</div>
	<ul class="tech-logos">
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/birds.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--sun">
	<div class="col col-6">
		<h2>Hosting</h2>
		<hr/>
		<p>
			Our hosting solutions are regularly security tested, capable of handling high volumes of traffic and generally optimised for effective performance.
		</p>
	</div>
	<ul class="tech-logos">
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
		<li><img src="/img/logos/kentico.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/dancers.jpg')"></div>
</section>

{{> footer}}
