{{> header}}

<section class="block block--fullscreen block--tech block--tech-first colour--sea">
	<div class="block__centre">
		<h1 class="fadeInLeft">Technology</h1>
		<hr class="fadeInLeft" style="animation-delay: 0.7s;"/>
		<p class="fadeInLeft" style="animation-delay: 0.9s;">
			Quba is a business that lives and breathes Enterprise software. We help clients to extract value from our technology partners, because we really know them.
		</p>
		<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/tech.jpg');"></div>
	</div>
</section>

<section class="block block--tech block--tech-content-management colour--tree">
	<div class="col col-12 md-col-6">
		<h2 class="hideUntilScroll">Content Management</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			Easy to use and powerful CMS platforms are the bedrock of what we do. We empower our clients to have personalised and meaningful dialogue with all customer groups.
		</p>
	</div>
	<ul class="tech-logos">
		<li class="hideUntilScroll"><img src="/img/logos/tech/sitecore.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/sitefinity.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/kentico.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/umbraco.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/crane.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--grass">
	<div class="col col-12 md-col-6">
		<h2 class="hideUntilScroll">CRM / CRO</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			High performance conversion technology has helped many of our customers to grow online revenue and leads quickly.
		</p>
	</div>
	<ul class="tech-logos">
		<li class="hideUntilScroll"><img src="/img/logos/tech/microsoft-dynamics.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/marketo.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/optimizely.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/salesforce.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/pineapple.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--dusk">
	<div class="col col-12 md-col-6">
		<h2 class="hideUntilScroll">Integrated Payment</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			We work with a mdall number of flexible and secure payment providers that can handle large numbers of transactions.
		</p>
	</div>
	<ul class="tech-logos">
		<li class="hideUntilScroll"><img src="/img/logos/tech/sage.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/paypal.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/worldpay.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/barclaycard.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/ikano.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/bank.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--sea">
	<div class="col col-12 md-col-6">
		<h2 class="hideUntilScroll">ERP / SAP</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			Technologies that support order fulfilment and business processes drive efficiency and profitability.
		</p>
	</div>
	<ul class="tech-logos">
		<li class="hideUntilScroll"><img src="/img/logos/tech/sap.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/sharepoint.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/defacto.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/domino.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/birds.jpg')"></div>
</section>

<section class="block block--tech block--tech-content-management colour--sun">
	<div class="col col-12 md-col-6">
		<h2 class="hideUntilScroll">Hosting</h2>
		<hr class="hideUntilScroll"/>
		<p class="hideUntilScroll">
			Our hosting solutions are regularly security tested, capable of handling high volumes of traffic and generally optimised for effective performance.
		</p>
	</div>
	<ul class="tech-logos">
		<li class="hideUntilScroll"><img src="/img/logos/tech/rackspace.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/azure.png"/></li>
		<li class="hideUntilScroll"><img src="/img/logos/tech/nexcess.png"/></li>
	</ul>
	<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/dancers.jpg')"></div>
</section>

{{> footer}}
