<header class="fullpage-nav show">
	<span><a href="/"><img class="quba-logo fadeInTop" src="/img/misc/logo.png"/></a></span>
	<nav>
		<ul class="fadeInTop">
			<li><a href="/about">About Us</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/tech">Technology</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>

<section class="block block--fullscreen block--services block--services-first colour--white">
	<header style="position: static" class="hide">
		<span><a href="/"><img class="quba-logo fadeInTop" src="/img/misc/logo.png"/></a></span>
		<nav>
			<ul class="fadeInTop">
				<li><a href="/about">About Us</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/tech">Technology</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<div class="block__centre">
		<h1>Technology</h1>
		<hr/>
		<p>Quba is a business that lives and breathes Enterprise software. We help clients to extract value from our technology partners, because we really know them.</p>
		<div class="block-background" style="background-image: url('/img/sections/compressedJpgs/tech.jpg');"></div>
	</div>
</section>
