{{> header theme="dark"}}

<section class="block block--work-landing">
	<h1>Our work</h1>

	<div class="grid">
		<div class="grid-sizer"></div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
		<div class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</div>
	</div>

	<!-- <ul class="grid">
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/ideal.jpg"/>
				<div class="tile-centre">
					<h4>Ideal Standard</h4>
					<p>Online Catelogue, Project Specification Tool</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/national.jpg"/>
				<div class="tile-centre">
					<h4>National Numbers</h4>
					<p>Content Marketing, Link Building</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/toysrus.jpg"/>
				<div class="tile-centre">
					<h4>Toys R Us</h4>
					<p>Entertainment Portal</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/texthelp.jpg"/>
				<div class="tile-centre">
					<h4>Texthelp</h4>
					<p>Kentico, CRM Integration</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/doordeals.jpg"/>
				<div class="tile-centre">
					<h4>Doordeals</h4>
					<p>Kentico eCommerce, SEO, PPC</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/ideal.jpg"/>
				<div class="tile-centre">
					<h4>Ideal Standard</h4>
					<p>Online Catelogue, Project Specification Tool</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/national.jpg"/>
				<div class="tile-centre">
					<h4>National Numbers</h4>
					<p>Content Marketing, Link Building</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/toysrus.jpg"/>
				<div class="tile-centre">
					<h4>Toys R Us</h4>
					<p>Entertainment Portal</p>
				</div>
			</a>
		</li>
		<li class="grid-item">
			<a href="#">
				<img src="/img/tiles/texthelp.jpg"/>
				<div class="tile-centre">
					<h4>Texthelp</h4>
					<p>Kentico, CRM Integration</p>
				</div>
			</a>
		</li>
	</ul> -->
</section>

{{> footer}}
